
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1vh;
    background-color: #f4f4f4;
}


.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #000000;
    text-align: center;
    padding: 0.5vw;
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: white;
}


.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    padding: 10px;
}

.navbar.expanded a {
    display: grid;
    text-align: center;
}



.container1 {
    display: grid;
    grid-template-columns: 45vw 52vw;
    gap: 0.5vw;
    margin-top: 1vh;
    background-color: #ffffff;
}

.profile {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #b8e3ea;
}

.profile img {
    width: 20vw;
    height: 20vw;
    border-radius: 30%;
}


.about-me {
    padding: 1vh;
    background-color: #caf0f8;
}

.about-me h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    text-align: center;
}


.container2 {
    background-color: #ffddd2;
    padding: 20px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.papers h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    text-align: center;
}

.papers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 10px;
}

.paper-item {
    background-color: #fff3e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}



.paper-item img {
    width: 20vw;
    height: 20vw;
    margin-bottom: 10px;
}

.paper-item h3 {
    color: #333;
    margin-bottom: 5px;
}



.paper-item a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff8b61;
    text-decoration: none;
}




.container3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5vw;
    padding: 0.5vh;
}

.blogs, .hobbies {
    padding: 20px;
    text-align: center;
    background-color: #82d5a1;
    gap: 2vw;
}

.blogs h2, .hobbies h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}


.container4 {
    width: 100%;
    background-color: #d8f3dc;
    padding: 20px;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.image-collection h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1vw;
    margin-top: 10px;
}

.image-grid img {
    width: 10vw;
    height: 10vw;
    border: 4px  #000000;
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #000000;
    text-align: center;
    padding: 1.5vh;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#AboutMe:target,
#PapersPublished:target,
#Blogs:target,
#Gallery:target,
#Contact:target {
    background-color: #d5b0ed;
}



@media screen and (max-width: 500px) {


    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        background-color: #000000;
    }

    .menu-icon {
        display: block;
    }

    .navbar a {
        display: none;
        border-bottom: 1px solid #fff;
        padding: 10px;
    }

    .navbar.expanded a {
        display: block;
        text-align: center;
    }


    .papers-grid {
        grid-template-columns: 1fr;
        gap: 2vh;
    }

    .paper-item {
        display: grid;
        grid-template-columns: 35% 60%;
        gap: 2vw;
    }

    .paper-item h3 {
        grid-column: span 2;
        text-align: center;
        margin-bottom: 5px;
    }

    .paper-item img {
        grid-row: 2; 
        width: 30vw;
        height: auto;
        margin-left: 2vw;
    }


 
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1vw;
    }

    .image-grid img {
        width: 40vw;
        height: 40vh;
        display: block;

    }

    .container1, .container2, .container3, .container4 {
        display: grid;
        display: block;
        gap: 2vh;
    }

    
    .profile img {
        width: 40vw;
        height: auto;
    }

   .footer {
        display: grid;
        text-align: center;
    }
}


